.index
{
    margin: 60px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap; 
}

.card
{
    margin: 0 60px 60px 0; /*сверху справа снизу слева*/
    height: 320px; /*300*/
    width: 400px;    
    background: white;
}

.card-img > img
{
    height: 200px; /*150*/
    width: 400px;
}
h2 span 
{
	position: absolute;
	top: 150px;
	font-size: 35px; /*30 размер шрифта*/
	color: red;
    font-family: 'Cormorant Infant', sans-serif;
    letter-spacing: 1px; /*расстояние между буквами в тексте на картинке*/
    padding: 120px 0 20px 20px; /*расположение текста на картинке*/
}

.card-header
{
    margin: 20px; /*отступ от границ*/
    display: flex;
    justify-content: flex-start;  /* Выравнивание элементов в начале */
    align-items: center;
    font-family: 'Cormorant Infant', sans-serif;
    font-size: 25px; /*30 размер шрифта*/
}