body
{
    margin: 0; /*отступ*/
    padding: 0;/*сколько элементов будет вокруг*/
}

.container /*обращение к классу*/
{
    min-height: 100vh;
    display: grid; /*как будет позиционироваться элемент*/
    grid-template-rows: 60px auto;
    grid-template-columns: 60px auto;
}


.header
{

}

.menu
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    grid-row-start: 1;
    grid-row-end:  span 2;  /*две колонки подряд*/
    border-right: 1.5px solid #e5e8ed; /*тоненькая полоса*/
}

.menu-action
{
    height: 60px;
    display: flex;
    justify-content: center; /*выравнивание по центру*/
    align-items: center;
}

.menu-img
{
    height: 40px;
}

.menu-item
{
    height: 60px;
    display: flex;
    justify-content: center; /*выравнивание по центру*/
    align-items: center;
    border-left: 4px solid #fff;
    border-right: 4px solid transparent;
    text-decoration: none;
    transition: all 300ms ease-in-out; /*подсвечивание красным меню пунктов*/
}

.menu-item:visited > i/*если ссылка была посещена*/
{
    color: #333333;
}

.menu-item--active:visited > i
{
    color:blue;
}

.menu-item:hover
{
    border-left: 4px solid #a00b00;
    cursor: pointer;
}

.menu-item--active
{
    border-left: 4px solid #a00b00;
}

.menu-item > i
{
    color: black;    
}

.menu-item--active  > i /*иконка с газетой красной*/
{
    color: #a00b00;
}

.content
{
    background: #f4f7fc;
}